<div>
	<%= link_to "You have entered a restricted area. If you have come here by mistake, please click here to go back.", root_path, class: "button alert small" %> 

	<br><br>

	<%= form_tag '/login' do %>
		<%= label_tag :username %>
		<%= text_field_tag :username, params[:username]%> <br>
    <%= label_tag :password%>
    <%= password_field_tag :password, params[:password]%>
    <br>
    <%= submit_tag 'Log in' %>
  <% end %>
</div>